<head>
    <!--External CSS Link-->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>

<div class="container-field" style="border:none;">
        <h1>Chitalu's Hut - Portfolio Site</h1>
        <div class="row" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            <div class="col-sm-4" style="border:none; background-color:#bef6fd;">
                <img src="/images/profile_img.png" 
                alt="profile image"
                style="height: 250px; float:left;"  />
                <h3 style="clear:both;">Chitalu Mumba</h3>
                <h4> <a href="/resources">Webresources</a></h4>
                <h4> <a href="/project">Projects</a>
		 <h4> <a href="http://chitalu.hopto.org/p">Vanilla Home Page</a></h4>
                
            </div>
            <div class="col-sm-8" style="border:none; background-color:#fdc5be;">
                <p>Welcome to my portfolio site.</p>
                <p>I am a software developer, IT specialist, and instructor. My interest in IT started as a when I was a kid. 
                    I wanted to know how computers worked and so I started tinkering with a any technology I could get my hands on. .</p>
                <p>I learnt how to build computers and troubleshoot hardware. As I grew older, I started picking p on programming languages. 
                    After I was introduced to Pascal in college, I decided to dive into programming, and worked with C# and Java. 
                    I would later find myself learning web development, for both frontend and backend using HTML, CSS, JavaScript, and MySQL.</p>
                <p>In 2020, I decided I wanted to be proficient in both being a developer and an IT specialist, 
                    so I spent some time working on industry certifications for IT professionals, 
                    and now I am CompTIA A+ and Google IT Professional certified.</p>
                <p>My love and interest for technology continues to grow, and I am looking forward to the future as more
                     platforms for developers continue to advance and emerge. .</p>

            </div>
        </div>
    </div>
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!--script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
